.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h3 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
input {
  color: #ffffff;
  width: 80%;
  height: 25px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);

  border: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
}
::placeholder {
  color: #ffffffb6;
}
form {
  margin-top: 100px;
}
.register-form {
  padding-top: 50px;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.registerBtn {
  margin-top: 50px;
  width: 80%;
  border: #ffffff solid 1px;
  box-shadow: 1px 1px 1px 0px white;
}
.registerBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.regAccount {
  color: #ffffffe1;
  display: flex;
  flex-direction: column;
}
a {
  color: #ffffffe1;
}

.password-icon2 {
  color: #ffffff;
  position: absolute;
  right: 10%;
  bottom: 50%;
}

.container {
  font-family: "Courier New", Courier, monospace;
  width: 1300px;
  height: 600px;
  background-color: rgba(47, 57, 148, 0.096);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "sidebar info info info "
    "sidebar info info info"
    "sidebar info info info"
    "sidebar section1 section1 section1"
    "footer footer footer footer";
}

.sidebar {
  grid-area: sidebar;
}
.sideBarFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;

  height: 100%;
  width: 100%;
}
.map {
  height: 20%;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.877) 0px 1px 6px,
    rgba(17, 17, 26, 0.438) 0px 1px 1px, rgba(17, 17, 26, 0.1) 0px 4px 6px;
}
.map :hover {
  border: 1px solid #ffffff;
}
.imgMap {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
  border: rgb(0, 0, 0) solid 1px;
}
.weapon {
  border-radius: 10px;
  height: 20%;
  width: 90%;
  box-shadow: rgba(255, 255, 255, 0.877) 0px 1px 6px,
    rgba(17, 17, 26, 0.438) 0px 1px 1px, rgba(17, 17, 26, 0.1) 0px 4px 6px;
}
.imgWeapon {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  border: black solid 1px;
  object-fit: cover;
}
.weapon :hover {
  border: 1px solid #ffffff;
}
.character {
  height: 20%;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.877) 0px 1px 6px,
    rgba(17, 17, 26, 0.438) 0px 1px 1px, rgba(17, 17, 26, 0.1) 0px 4px 6px;
}
.character :hover {
  border: 1px solid #ffffff;
}
.imgChar {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border: black solid 1px;
}
.charContainer {
  display: flex;
  justify-content: center;
}
.img-c1 {
  width: 100%;
  border-bottom: #680000 solid 2px;
}
.c1::after {
  border-bottom: #ffffff solid 1px;
}
.c1 :hover {
  border-bottom: #ffffff solid 1px;
}
.info {
  grid-area: info;
  background-color: #0000008f;
  margin-top: 50px;
  border-radius: 20px;
  width: 900px;
  display: flex;
  height: 500px;
  flex-direction: column;
}
.infoContent {
  display: flex;
  flex-direction: row;
  padding: 50px;
  height: 300px;
}
.story {
  height: 100%;
  color: #e0e0e0;
  display: flex;
  justify-content: space-evenly;
}
.soldierPic {
  width: 50%;
}
.soldierText {
  width: 50%;
  text-align: left;
}
.story h3,
h5 {
  color: #f5f5f5;
  text-align: left;
  margin: 0;
  margin-bottom: 2px;
}
.story p {
  color: #e0e0e0b6;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.header {
  grid-area: header;
}
.section1 {
  grid-area: section1;
}
.footer {
  grid-area: footer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
